<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367116500698-86euqngqvv9lgds50khai2ui4kkdd3n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367116500698-86euqngqvv9lgds50khai2ui4kkdd3n1</string>
	<key>API_KEY</key>
	<string>AIzaSyBsds5gpxOW72C1PyykM270fBHbTZLj1Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>367116500698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.VetMap</string>
	<key>PROJECT_ID</key>
	<string>vetmap-e973c</string>
	<key>STORAGE_BUCKET</key>
	<string>vetmap-e973c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367116500698:ios:7061e1bafade6efa652fe3</string>
</dict>
</plist>